html, body {
	font-family: 'Arial';
}

#profile-pic{
	margin-bottom: 2;
	margin-top: 20;
	margin-left: 20;
	margin-right: 15;
	grid-area: "picture";
}

#name-header{
	font-size: 60;
	margin-bottom: 2;
	margin-left: 5;
	grid-area: "name";
	white-space: nowrap;
}

#socials-header{
	white-space: nowrap;
	margin-right: 1;
	grid-area: "socials";

}

.grid-item-header{
	grid-area: sidebar;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "picture name";
}

.index-grid-container{
	display: grid;
	grid-template-columns: 1.15fr 2.5fr;
	grid-template-areas: 
		"header1 header2"
		"sidebar content"
}

