html, body {
	font-family: 'Arial';
}

#profile-pic{
	margin-bottom: 2;
	grid-area: "picture";
}

#main-header{
	font-size: 60;
	margin-bottom: 2;
	grid-area: "name";
}

.grid-item-header{
	grid-area: sidebar;
	display: grid;
	grid-template-columns: 0.10fr auto;
	grid-template-areas: "picture name";
}

.index-grid-container{
	display: grid;
	grid-template-columns: 1.15fr 2.5fr;
	grid-template-areas: 
		"header1 header2"
		"sidebar content"
}

